<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss:SS}][%-5level][%logger{0}:%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- Package -->
	<logger name="common" level="debug" />

    <root level="debug">
        <appender-ref ref="console"/>
    </root>

</configuration>
